th {
    text-align: left;
}
.footnotes {
    font-size: 14px;
    margin-top: 1.4rem;
    color: #5c5962b3;
}

.site-logo {
    width: 70%;
    height: 70%;
    position: relative;
}
.site-logo:after {
    content: "Docs";
    color: #959396;
    position: absolute;
    left: 80px;
    bottom: -8px;
    font-size: .4em;
    font-weight: 600;
    text-transform: uppercase;
}
@media (min-width: 50rem) {
    .site-logo {
        width: 60%;
        height: 60%;
    }
    .site-logo:after {
        left: 77px;
    }
}

.bg-highlight {
    background-color: #fff3b5;
}
p.message-box {
    position: relative;
    padding: 2.1rem 1rem .8rem;
    border-left: .2rem solid $blue-100;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.05), 0 0 0.05rem rgba(0,0,0,.1);
    font-size: .9rem;
    border-radius: 2px;
    margin: 1.8rem 0 1rem 0;
    line-height: 1.6rem;
}
p.message-box:before {
    content: attr(data-title);
    position: absolute;
    height: 1.6rem;
    left: 0;
    top: 0;
    padding-left: 12px;
    width: calc(100% - 12px);
    font-weight: bold;
    font-size: .8rem;
    line-height: 1.6rem;
}
p.message-box.info {
    border-left: .2rem solid $blue-100;
}
p.message-box.info:before {
    background-color: rgba($blue-100, .05);
}
p.message-box.warning {
    border-left-color: #ff9100;
}
p.message-box.warning:before {
    background-color: rgba(#ff9100, .05);
}
p.message-box.error {
    border-left-color:#e94c4c;
}
p.message-box.error:before {
    background-color: rgba(#e94c4c, .05);
}

.tabs {
    margin-top: 2rem;
}
.tabs button {
    border: 1px solid $purple-100;
    background-color: transparent;
    padding: .26rem .8rem;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    color: #000a47;
    text-decoration: none;
    min-width: 5.1rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.tabs button:not(:first-of-type) {
    border-left: none
}
.tabs button.current {
    border-bottom-color: #fff;
}
.tabs-content {
    border-top: 1px solid $purple-100;
    margin-top: -1px;
    padding-top: .8rem;
    margin-bottom: 3rem;
}
